# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Testing / Coverage
# -----------------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Editor / IDE
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
